.butt-banner {
  width: 141px;
  height: 49px;
  background: #f0a83e;
  border-radius: 5px;
}

#b-resetear {
  width: 160px;
  height: 45px;
  bottom: 480px;
  background: #8a8787;
  border-radius: 25px;
  color: #ffffff;
  font-size: 16px;
  margin-right: 2px;
  border: #ffffff;
}

#b-enviar {
  width: 160px;
  height: 45px;
  bottom: 480px;
  background: #f0a83e;
  border-radius: 25px;
  font-size: 16px;
  color: #ffffff;
  margin-left: 2px;
  border: #ffffff;
}

#label-email {
  width: 100px;
  height: 35px;
  bottom: 340px;
  background: #3c2313;
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
  box-sizing: content-box;
  font-weight: 700 bold;
  margin-left: 12px;
  margin-top: 3px;
}

.barra-sup {
  font-size: 12px;
  display: flex;
  align-items: flex-end;
}

#menu {
  display: none;
}

.contenedor-list-superior {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #f3f3f3;
  background: #222222;
}

.list-moneda {
  color: #ffffff;
  background: #222222;
  border: #222222;
  font-size: 10px;
}

.list-idioma {
  color: #ffffff;
  background: #222222;
  border: #222222;
  font-size: 10px;
}

.contenedor-principal {
  width: 100%;
  height: 62px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #f0a83e;
}

#img-logo {
  width: 96, 35px;
  height: 23px;
}

.contenedor-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 15px;
}

.contenedor-list-a {
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}

#pie {
  color: white;
  background-color: black;
}

#pie-text {
  font-family: "Roboto";
  text-align: center;
  margin: 0%;
}

#cont-footer {
  width: 100%;
  height: auto;
  background: #3C2313;
}

.logo-sgv {
  width: 50px;
  height: 50px;
  padding: 18px 18px;
  background: #8A8787;
  border-radius: 60px;
  border: solid 3px #504f4f;
}

#cont-sgv {
  width: 50%;
  height: 340px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 18px;
}

#cont-general-sgv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#cont-div {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

#sgv {
  display: flex;
  flex-direction: row;
}

#p-sgv1 {
  margin: 5px;
  width: 300px;
}

.p1-sgv1 {
  width: 88px;
  height: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 23px;
  color: #FFFFFF;
}

.p2-sgv1 {
  width: 73px;
  height: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 12px;
  color: #8A8787;
}

#logo-sgv-footer {
  width: 300px;
  height: 230px;
  margin-left: 350px;
}

/* construyendo estractura 7-1 */
* body {
  margin: auto;
}

/**************** Comienzo estilos seccion banner ****************/
.section-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/root/img/bowl-and-pet-daities-on-green-background\ 1.png);
  height: 409px;
}

.cont-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 5px;
  padding-left: 5px;
}

.text-banner {
  width: 190px;
  height: 19px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3c2313;
}

.title-banner {
  width: 365px;
  height: 54px;
  background: #ffffff;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #3c2313;
}

/* *************** Fin estilos seccion banner ****************/
/**************** Comienzo estilos contenedor articulos ****************/
.cont-articles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.section-destacados {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.contenedor-articulos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.articulo1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articulo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articulo3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-description {
  font-size: 30px;
  line-height: 18px;
  color: #3c2313;
}

.precio {
  width: 39.15px;
  height: 19.64px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #f0a83e;
}

/**************** Fin estilos contenedor articulos ****************/
/**************** Comienzo seccion destacados ****************/
#img-destacados {
  width: 67px;
  height: 71px;
  text-align: center;
}

#texto-destacados {
  width: 100%;
  height: 47px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #3c2313;
  text-align: center;
}

/**************** Fin seccion destacados ****************/
/**************** Comienzo estilos del formulario ****************/
.title-form {
  text-align: center;
  font-size: xx-large;
}

.cont-imput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont-subcrip {
  width: 100%;
  width: 100;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

input {
  width: 30%;
  height: 40px;
  background: #3c2313;
  border-radius: 15px;
  margin-bottom: 15px;
  color: #ffffff;
}

::-moz-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

.cont-buttom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/**************** Comienzo estilos del formulario ****************/
.label {
  text-align: start;
}

/**************** Comienzo estilos del subcription ****************/
.sect-subscripcion {
  width: 100%;
  height: 101px;
  background: #f0a83e;
}

.texto-suscripcion {
  width: 288px;
  height: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

#imput-email {
  width: 271px;
  height: 35px;
  background: #ffffff;
  border-radius: 15px;
  margin-top: 5px;
}

.input-form {
  width: 261px;
  height: 35px;
  bottom: 344px;
  background: #ffffff;
  border-radius: 15px;
}

/**************** Fin estilos del subcription ****************/
/**************** Comienzo de @media ****************/
@media screen and (max-width: 375px) {
  #b-resetear {
    margin-left: 2px;
  }

  #b-enviar {
    margin-right: 2px;
  }

  .cont-subcrip {
    margin-left: 2px;
  }

  #label-email {
    margin-left: 1px;
  }

  .input-form {
    width: 30%;
    margin-right: 1px;
  }
}
@media screen and (max-width: 425px) {
  .contenedor-list {
    display: none;
  }

  header {
    flex-direction: row-reverse;
  }

  #menu {
    color: #ffffff;
    font-size: 26px;
    display: block;
  }

  .contenedor-principal {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .cont-secundario {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .texto-suscripcion {
    width: 100%;
    text-align: center;
  }

  input {
    width: 75%;
  }

  #cont-general-sgv {
    flex-direction: column-reverse;
  }

  #cont-footer {
    flex-direction: column-reverse;
  }

  .cont-logo-footer {
    margin-top: 5px;
    width: 45%;
  }

  #logo-sgv-footer {
    margin-top: 30px;
    margin-left: 0%;
    width: auto;
    height: 23px;
  }

  #cont-sgv {
    margin: 0%;
  }

  #sgv {
    width: auto;
  }

  #cont-div {
    margin: 0%;
  }

  #p-sgv1 {
    width: auto;
  }

  .logo-sgv {
    width: 28px;
    height: 28px;
    padding: 12px 12px;
    margin-right: 8px;
  }

  .p1-sgv1 {
    font-size: 18px;
  }

  .p2-sgv1 {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */