$color_secundario: #3C2313;

$color_blanco: #ffff;

$color_gris_fondo_primario: #8A8787;

$color_gris_fondo_secundario: #504f4f;

$color_black: #0000;

$color_principal: #f0a83e;

/* Variables */

$tipografia: roboto;



