.butt-banner {
    width: 141px;
    height: 49px;
    background: #f0a83e;
    border-radius: 5px;
  }
  #b-resetear {
    width: 160px;
    height: 45px;
    bottom: 480px;
    background: #8a8787;
    border-radius: 25px;
    color: #ffffff;
    font-size: 16px;
    margin-right: 2px;
    border: #ffffff;
  }
  
  #b-enviar {
    width: 160px;
    height: 45px;
    bottom: 480px;
    background: #f0a83e;
    border-radius: 25px;
    font-size: 16px;
    color: #ffffff;
    margin-left: 2px;
    border: #ffffff;
  }
  #label-email {
    width: 100px;
    height: 35px;
    bottom: 340px;
    background: #3c2313;
    border-radius: 15px;
    color: #ffffff;
    text-align: center;
    box-sizing: content-box;
    font-weight: 700 bold;
    margin-left: 12px;
    margin-top: 3px;
  }  