

/* Variables */

$color_principal: #f0a83e;

$color_secundario: #3C2313;

$color_blanco: #ffff;



.butt-banner {
    width: 141px;
    height: 49px;
    background:$color_principal;
    border-radius: 5px;
  }
  #b-resetear {
    width: 160px;
    height: 45px;
    bottom: 480px;
    background: #8a8787;
    border-radius: 25px;
    color: $color_blanco;
    font-size: 16px;
    margin-right: 2px;
    border: $color_blanco;
  }
  
  #b-enviar {
    width: 160px;
    height: 45px;
    bottom: 480px;
    background: $color_principal;

    border-radius: 25px;
    font-size: 16px;
    color: $color_blanco;
    margin-left: 2px;
    border: $color_blanco;
  }
  #botton-email {
    width: 100px;
    height: 35px;
    bottom: 340px;
    background: $color_secundario;
    border-radius: 15px;
    color: $color_blanco;
    text-align: center;
    box-sizing: content-box;
    font-weight: 700 bold;
    margin-left: 12px;
    margin-top: 3px;
  }  